*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
}
body {
  width: 100%;
  min-width: 450px;
  font-family: Arial, Helvetica, sans-serif;
  color: #812d07;
}
header {
  width: 100%;
}
main {
  padding: 0rem 1rem;
}
a {
  color: #812d07;
  background-color: #f3df85;
  text-decoration: none;
}
button {
  transition: filter 0.2s ease-in-out;
}
button:hover {
  filter: brightness(90%);
}

/* Navigation Bar */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: calc(0.5rem + 1vw);
  font-weight: 600;
  background-color: #fbf7e3;
  padding: 0.75rem;
}
nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin: 0;
}
nav li {
  list-style: none;
  transition: filter 0.2s ease-in-out;
}
nav a {
  color: #812d07;
  display: flex;
  align-items: center;
  border-radius: 5rem;
  padding: calc(0.1rem + 1.2vw);
  text-align: center;
}
nav li:nth-child(3) a {
  font-size: calc(1rem + 1vw);
  font-weight: 700;
  padding: calc(0.5rem + 1.2vw);
}
nav li:hover {
  filter: brightness(90%);
}
nav img {
  height: 1.5rem;
  margin-right: 0.25rem;
}

/* Product Card */
.products-window {
  text-align: center;
}
.products-window h1 {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: 800;
  padding: 3rem 1.5rem;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.card {
  border-radius: 5rem;
  border: 0;
  background-color: #fbf7e3;
  overflow: hidden;
}
.img-container {
  height: 20rem;
  background-image: url(./imgs/honey.jpg);
  background-size: cover;
  background-position: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem 2rem 5rem;
}
.product-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
.product-title {
  text-align: center;
}
.product-title h5 {
  font-size: 1.35rem;
  font-weight: 700;
}
.product-title p {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}
.price {
  font-size: 1.5rem;
  font-weight: 500;
}
button {
  margin-top: 2rem;
  align-self: center;
  font-size: 1.25rem;
  font-weight: 600;
  width: 18rem;
  color: #812d07;
  background-color: #f3df85;
  padding: 0.8rem;
  border: 0;
  border-radius: 3rem;
}

/* Flexible Article */
.news-container {
  text-align: center;
}
.news-container h3 {
  font-size: 3.5rem;
  font-weight: 800;
  padding: 3rem 1.5rem 1rem 1.5rem;
}
article {
  padding: 3rem;
  background-color: #fbf7e3;
  border-radius: 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: column-reverse;
}
article img {
  object-fit: cover;
}
article .content h5 {
  margin-top: 0.75rem;
  font-size: 2.25rem;
  font-weight: 800;
}
article .content p {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

/* * Media queries */

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .products-window {
    text-align: left;
  }
  .news-container {
    text-align: left;
  }
  article {
    flex-direction: row;
  }
  article img,
  article .content {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    display: flex;
    height: 100vh;
  }

  /* Navigation Bar */
  header {
    width: 12rem;
  }
  nav {
    width: fit-content;
    height: 100%;
    text-align: center;
    align-items: flex-start;
  }
  nav ul {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;
  }
  nav a {
    width: 10rem;
    height: 4rem;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
  }
  nav li:nth-child(3) {
    order: -1;
  }
  nav li:nth-child(3) a {
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  /* main */
  main {
    overflow-y: auto;
    padding: 0 2rem;
  }
  .products-window h1 {
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem 0rem;
  }

  /* Product Card */
  .product-title h5 {
    font-size: 1.65rem;
    font-weight: 700;
  }
  .products {
    gap: 1.25rem;
    justify-content: flex-start;
  }
  .card {
    flex-basis: calc(200px + 4vw);
    border-radius: 2rem;
  }
  .img-container {
    height: 8rem;
  }
  .card-content {
    padding: calc(0.5rem + 0.5vw);
  }
  .product-details {
    gap: 0.5rem;
  }
  .product-title {
    text-align: center;
  }
  .product-title h5 {
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 700;
  }
  .product-title p {
    margin-top: 0.5rem;
    font-size: calc(0.4rem + 0.5vw);
  }
  .price {
    font-size: calc(0.4rem + 0.5vw);
    font-weight: 500;
  }
  button {
    margin-top: calc(0.5rem + 0.5vw);
    align-self: center;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 600;
    width: 10rem;
    color: #812d07;
    background-color: #f3df85;
    padding: 0.5rem;
    border: 0;
    border-radius: 3rem;
  }

  /* Flexible Article */
  .news-container {
    text-align: left;
  }
  .news-container h3 {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 2rem 1rem 0.5rem 1rem;
  }
  article {
    padding: calc(1rem + 1vw);
    gap: calc(1rem + 1vw);
  }
  article .content h5 {
    margin-top: 0;
    font-size: calc(1rem + 1vw);
    font-weight: 800;
  }
  article .content p {
    margin-top: calc(1rem + 1vw);
    font-size: calc(0.6rem + 1vw);
  }
}
