/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 1.1rem;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(
    180deg,
    rgba(0, 160, 198, 1) 0%,
    rgba(3, 109, 134, 1) 68%
  );
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 1.5em 1.5em;
}
header div img {
  width: 15rem;
  margin-bottom: 20px;
}
header p {
  font-size: 1.25rem;
  font-weight: 600;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
}
header nav li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}
header nav li:last-child {
  margin-right: 0;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}
section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
main article {
  font-size: 1.15rem;
  font-weight: 500;
}
main .article-author {
  font-size: 1.2rem;
}
main article img:nth-of-type(1) {
  border: 3px solid #00a0c6;
  outline: 3px solid #a82264;
  width: 6rem;
  padding: 3px;
}
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
h2 b {
  font-weight: 600;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
  letter-spacing: 0.17px;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(5, 85, 103, 1) 68%
  );
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.4rem;
}
footer a {
  color: fuchsia;
}

/* * MEDIA QUERIES */

@media screen and (min-width: 560px) {
  /* IMPOSTAZIONI GENERALI */
  body {
    padding: 1.1rem;
  }
  section h2 {
    background-color: #b4a691;
    font-size: 1.6rem;
    text-transform: capitalize;
  }

  /* ELEMENTI NEL MAIN - ARTICLE */
  main article {
    padding: 0 1rem;
    margin-top: -1rem;
    font-size: 1.4rem;
  }
  main .article-author {
    font-size: 1.4rem;
  }
  main article img:nth-of-type(1) {
    width: 5rem;
  }
  h1 {
    font-size: 4.25rem;
  }
  h2 b {
    font-size: 1.6rem;
  }
  iframe {
    height: 12rem;
    border-radius: 1.5rem;
  }

  /* TABELLE */
  table {
    margin-inline: auto;
    width: 75%;
  }
  caption {
    font-size: 1.2rem;
  }
  thead tr {
    font-size: 1.1rem;
  }

  /* FORM */
  input {
    width: 70%;
    height: 3.5rem;
  }
  input::placeholder {
    font-size: 1rem;
    padding-left: 1rem;
  }
  button {
    width: 18%;
    height: 3.5rem;
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 800px) {
  body {
    padding: 1rem 7rem;
  }

  /* HEADER */
  header {
    height: fit-content;
    padding: 0;
    height: 5rem;
  }
  header div {
    height: 6rem;
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.5rem;
    margin-left: -3rem;
    margin-right: 7rem;
  }
  header div img {
    height: 100%;
    padding: 1rem;
    display: inline-block;
    vertical-align: middle;
  }
  header div p {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.1rem;
    margin-top: -1rem;
    margin-left: -1rem;
    font-weight: 400;
  }
  header nav {
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1rem;
  }
  header nav li a {
    font-weight: 400;
    font-size: 1.1rem;
  }

  /* MAIN */
  main {
  }
  section {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    border-radius: 1rem;
  }
  section h2 {
  }

  /* ELEMENTI NEL MAIN - ARTICLE */
  main article {
  }
  main .article-author {
    font-size: 1rem;
  }
  main article img:nth-of-type(1) {
    width: 4rem;
  }
  main article {
    font-size: 1.05rem;
  }
  main article b {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 b {
  }
  p,
  address,
  ul,
  ol,
  dl,
  blockquote {
  }
  h1 + p {
  }
  ul,
  ol {
  }
  a {
  }
  strong {
  }
  code {
  }
  iframe {
    height: 14rem;
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    border-radius: 1rem;
    margin-top: 0.15rem;
  }

  /* TABELLE */
  table {
    width: 70%;
  }
  caption {
  }
  thead tr {
  }
  th,
  td {
  }
  tbody tr {
  }

  tbody tr:nth-of-type(even) {
  }

  tbody tr:last-of-type {
  }

  /* FORM */
  input {
  }
  button {
  }

  /* ELEMENTI NELL' ASIDE */
  aside h2 {
  }
  aside div {
    display: inline-block;
    width: 33.1%;
  }
  aside div p:last-child {
  }

  /* FOOTER */
  footer {
  }
  footer a {
  }
}

/* @media screen and (min-width:992px) {
} */
