/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

a {
  margin-top: auto;
}

body {
  background-color: #666;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
main {
  font-family: "Bree Serif", serif;
  background-color: #eee;
  height: 10rem;
  width: 20rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transform: rotate(3deg);
  transition: all 1s ease-in-out;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5),
    inset 0px -30px 2rem -20px rgba(0, 0, 0, 0.5);
  margin-bottom: 5rem;
}
main:hover {
  scale: 1.75;
  transform: rotate(0deg);
}
#testoAlternato p {
  margin-top: -3rem;
}
.parole i {
  position: absolute;
  bottom: 2rem;
  width: 10rem;
  left: -10rem;
}
.parole i:nth-child(1) {
  animation: show 15s infinite;
  animation-delay: 0;
}
.parole i:nth-child(2) {
  animation: show1 15s infinite;
  animation-delay: 5s;
}
.parole i:nth-child(3) {
  animation: show2 15s infinite;
  animation-delay: 10s;
}
@keyframes show {
  0% {
    filter: opacity(0);
    transform: translateX(-10rem);
  }
  20% {
    filter: opacity(1);
    transform: translateX(-10rem);
  }
  40% {
    filter: opacity(1);
    transform: translateX(15rem);
  }
  50% {
    filter: opacity(1);
    transform: translateX(15rem);
  }
  80% {
    filter: opacity(1);
    transform: translateX(40rem);
  }
  100% {
    filter: opacity(0);
    transform: translateX(40rem);
  }
}
@keyframes show1 {
  0% {
    filter: opacity(0);
    transform: translateX(-10rem);
  }
  20% {
    filter: opacity(1);
    transform: translateX(-10rem);
  }
  40% {
    filter: opacity(1);
    transform: translateX(15rem);
  }
  50% {
    filter: opacity(1);
    transform: translateX(15rem);
  }
  80% {
    filter: opacity(1);
    transform: translateX(40rem);
  }
  100% {
    filter: opacity(0);
    transform: translateX(40rem);
  }
}
@keyframes show2 {
  0% {
    filter: opacity(0);
    transform: translateX(-10rem);
  }
  20% {
    filter: opacity(1);
    transform: translateX(-10rem);
  }
  40% {
    filter: opacity(1);
    transform: translateX(15rem);
  }
  50% {
    filter: opacity(1);
    transform: translateX(15rem);
  }
  80% {
    filter: opacity(1);
    transform: translateX(40rem);
  }
  100% {
    filter: opacity(0);
    transform: translateX(40rem);
  }
}
