*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  padding: 1.5rem 3rem;
  margin: 0 auto;
  background-color: black;
}

header h1 {
  font-weight: 800;
  display: inline-block;
  vertical-align: middle;
  color: white;
}

header img {
  height: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}

main {
  padding: 3rem 3rem;
  margin: 0 auto;
}

.create-task {
  text-align: center;
  margin-bottom: 3rem;
}

#task-input {
  text-align: center;
  border: 0;
  margin-right: -4px;
  padding: 0.5rem 1rem;
  border-radius: 3rem 0 0 3rem;
  text-align: center;
  border: 1px solid #950484;
}

#add-task-button {
  border: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: rgb(210, 0, 148);
  background: linear-gradient(
    0deg,
    rgba(210, 0, 148, 1) 50%,
    rgba(149, 4, 132, 1) 100%
  );
  color: white;
  font-weight: 600;
  border-radius: 0 3rem 3rem 0;
  border: 1px solid #950484;
  border-left: 0;
  transition: all 0.2s ease-in-out;
}

.task-container {
  text-align: center;
  border: 1px solid #950484;
  border-radius: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.task-container h3 {
  padding: 1rem;
}

.task-container li {
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #dedede;
  list-style: none;
  transition: all 0.2s ease-in-out;
}

.task-container p {
  width: 88%;
  display: inline-block;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.task-container .fa-times {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.25rem;
  background-color: white;
  border-radius: 100%;
}

.task-container .fa-times:hover {
  background-color: red;
  color: white;
}

.task-container li:hover {
  background-color: #4caf50;
  transition: all 0.2s ease-in-out;
}

.fa-times {
  color: #f44336;
}

.checked {
  background-color: #4caf50 !important;
}

.line-through {
  color: white;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  transition: all 0.2s ease-in-out;
}
