*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 4rem;
}

main {
  margin-top: 4rem;
}

.card {
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}
