/* * Results Page */

#results-html {
  display: none;
}

.displayNone {
  display: none;
}

.display {
  display: unset !important;
}

header img {
  height: 2.6rem;
  margin: 3rem 0 1rem 7rem;
}

main {
  padding: 0 7rem;
}

.main-container {
  height: 100%;
  vertical-align: middle;
}

.title h1 {
  font-size: 3.75rem;
}

.title h5 {
  font-size: 1.75rem;
  font-weight: 200;
  margin-top: -0.5rem;
  letter-spacing: 1px;
}

.scores-overview {
  margin: 6rem 0;
}

.scores-overview .score-percentage h3:nth-of-type(1) {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: -2px;
}

.scores-overview .score-percentage h3:nth-of-type(2) {
  font-size: 3.75rem;
  font-weight: 700;
  margin-top: -1rem;
}

.wrong {
  color: rgba(255, 255, 255, 0.75);
}

.scores-overview p {
  font-weight: 200;
  font-size: 1.4rem;
  margin-top: -0.5rem;
}

.score-percentage {
  display: inline-block;
  width: 29%;
  vertical-align: middle;
}

.chart-wheel-container {
  position: relative;
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  padding: 5rem;
  margin: 0 0.4rem;
}

.cyan {
  color: #00ffff;
}

.magenta {
  color: #c2128d;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.circular-progress {
  position: relative;
  height: 330px;
  width: 330px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.circular-progress:before {
  content: "";
  position: absolute;
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

.value-container {
  position: relative;
  font-size: 50px;
  color: #231c3d;
}

.chart-wheel-container h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.chart-wheel-container p {
  margin-top: 1.15rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 200;
}

#results-rate-us {
  margin-inline: auto;
  padding: 1rem 5rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 1.4rem;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 20px 0px #00ffff33;
  -moz-box-shadow: 0px 0px 20px 0px #00ffff33;
  -o-box-shadow: 0px 0px 20px 0px #00ffff33;
  box-shadow: 0px 0px 20px 0px #00ffff33;
  transition: all 0.2s ease-in-out;
}

#results-rate-us:hover {
  -webkit-box-shadow: 0px 0px 40px 0px #00ffff80;
  -moz-box-shadow: 0px 0px 40px 0px #00ffff80;
  -o-box-shadow: 0px 0px 40px 0px #00ffff80;
  box-shadow: 0px 0px 40px 0px #00ffff80;
  transition: all 0.2s ease-in-out;
}

/* .donut-chart {
  width: 100%;
  margin: 0 auto;
  animation: donutfade 1s;
} */

.donut-ring-2 {
  stroke: #c2128d;
}

.donut-segment-2 {
  stroke: #00ffff;
  animation: donut2 3s;
}

.donut-percent-2 {
  animation: donutfadelong 1s;
}

@keyframes donut2 {
  0% {
    stroke-dasharray: 100 0;
  }
  100% {
    stroke-dasharray: var(--complementValue) var(--dasharrayEnd);
  }
}
