@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  margin-inline: auto;
  font-family: "Outfit", sans-serif;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: space;
  color: #e7e7eb;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 3rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

header img {
  height: 2.6rem;
  margin: 3rem 0 1rem 7rem;
}

main {
  padding: 0 7rem;
}

/* * Index page 🏠 */

ul {
  padding-left: 30px;
  font-size: 1.2rem;
}

.checkbox-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid white;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #00ffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-left: 700px;
  margin-bottom: 170px;
}

.btn {
  padding: 20px 55px;
  background-color: #00ffff;
  color: rgb(14, 8, 174);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 1px 1px 20px #00ffff;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* * Test page ✅ */

main {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  margin-inline: auto;
}

.fit {
  width: fit-content;
}

.t-align-cen {
  text-align: center;
}

.t-align-lef {
  text-align: left;
}

.t-align-rig {
  text-align: right;
}

.block {
  display: block;
}

.timer-container {
  position: relative;
  right: 7rem;
  width: 10rem;
  height: 10rem;
  margin: -3rem 0 0 auto;
}

#donut-1 {
  position: absolute;
}

.donut-ring-1 {
  stroke: #ffffff50;
}

.donut-segment-1 {
  stroke: #00ffff;
  animation: donut1 3s;
}

.donut-percent-1 {
  animation: donutfadelong 1s;
}

@keyframes donut1 {
  0% {
    stroke-dasharray: 100 0;
  }
  100% {
    stroke-dasharray: var(--complementValue) var(--dasharrayEnd);
  }
}

#timer {
  text-align: center;
  padding: 2.85rem 0;
  font-size: 0.6rem;
}

#time-left {
  font-size: 3rem;
  line-height: 0.9;
}

/* QUIZ PAGE */

section div {
  width: fit-content;
  margin-inline: auto;
}

#question-section {
  color: white;
  margin-top: 80px;
  text-align: center;
  font-size: 2.5rem;
}

#question-section span {
  font-weight: 700;
}

#question-box h2 {
  font-weight: 300;
  font-size: 2rem;
}

#answer-box {
  width: 90%;
  color: white;
  margin-top: 5rem;
  text-align: center;
}

#answer-box div {
  width: 300px;
  height: 50px;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding: 10px;
  margin-inline: auto;
  margin: 10px;
}

#answer-box p {
  text-align: center;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

input[type="radio"] {
  display: none;
  + label {
    width: 300px;
    height: 50px;
    display: inline-block;
    margin-inline: auto;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.134);
    border: 2px solid white;
    text-align: center;
    padding: 15px;
  }
}

:checked + label {
  background: linear-gradient(0deg, #d20094 0%, #900080 67%);
}

#next-question {
  display: none;
}

#question-counter {
  color: white;
  text-align: center;
  margin-top: 10rem;
}

#question-counter span {
  color: rgb(198, 43, 226);
}

/* * Results Page 💯 */

#results-html {
  display: none;
}

.displayNone {
  display: none;
}

.display {
  display: unset !important;
}

.main-container {
  height: 100%;
  vertical-align: middle;
}

.title h1 {
  font-size: 3.75rem;
}

.title h5 {
  font-size: 1.75rem;
  font-weight: 200;
  margin-top: -0.5rem;
  letter-spacing: 1px;
}

.scores-overview {
  margin: 6rem 0;
}

.scores-overview .score-percentage h3:nth-of-type(1) {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: -2px;
}

.scores-overview .score-percentage h3:nth-of-type(2) {
  font-size: 3.75rem;
  font-weight: 700;
  margin-top: -1rem;
}

.wrong {
  color: rgba(255, 255, 255, 0.75);
}

.scores-overview p {
  font-weight: 200;
  font-size: 1.4rem;
  margin-top: -0.5rem;
}

.score-percentage {
  display: inline-block;
  width: 29%;
  vertical-align: middle;
}

.chart-wheel-container {
  position: relative;
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  padding: 5rem;
  margin: 0 0.4rem;
}

.cyan {
  color: #00ffff;
}

.magenta {
  color: #c2128d;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.circular-progress {
  position: relative;
  height: 330px;
  width: 330px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.circular-progress:before {
  content: "";
  position: absolute;
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

.value-container {
  position: relative;
  font-size: 50px;
  color: #231c3d;
}

.chart-wheel-container h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.chart-wheel-container p {
  margin-top: 1.15rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 200;
}

#results-rate-us {
  margin-inline: auto;
  padding: 1rem 5rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 1.4rem;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 20px 0px #00ffff33;
  -moz-box-shadow: 0px 0px 20px 0px #00ffff33;
  -o-box-shadow: 0px 0px 20px 0px #00ffff33;
  box-shadow: 0px 0px 20px 0px #00ffff33;
  transition: all 0.2s ease-in-out;
}

#results-rate-us:hover {
  -webkit-box-shadow: 0px 0px 40px 0px #00ffff80;
  -moz-box-shadow: 0px 0px 40px 0px #00ffff80;
  -o-box-shadow: 0px 0px 40px 0px #00ffff80;
  box-shadow: 0px 0px 40px 0px #00ffff80;
  transition: all 0.2s ease-in-out;
}

.donut-ring-2 {
  stroke: #c2128d;
}

.donut-segment-2 {
  stroke: #00ffff;
  animation: donut2 3s;
}

.donut-percent-2 {
  animation: donutfadelong 1s;
}

@keyframes donut2 {
  0% {
    stroke-dasharray: 100 0;
  }
  100% {
    stroke-dasharray: var(--complementValue) var(--dasharrayEnd);
  }
}

/* * Feedback page ⭐ */

.txt-feedback-section h2 {
  color: white;
  margin-top: 80px;
  text-align: center;
  font-size: 2.5rem;
}

.txt-feedback-section p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 30px;
  width: 600px;
  margin-inline: auto;
}

.rating-stars img {
  margin-top: 20px;
  opacity: 0.2;
  cursor: pointer;
}

.rating-stars img.active {
  margin-top: 20px;
  opacity: 1;
}

.comment-area p {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
}

.feedback-area {
  width: 90%;
  text-align: center;
}

#feedback-text {
  margin-top: 40px;
  height: 30px;
  width: 65%;
  resize: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #c2128d;
  background: transparent;
  font-family: "Outfit", sans-serif;
  color: white;
  outline: none;
}

.info-btn {
  text-align: center;
  margin-top: 60px;
}

.info-btn button {
  width: 200px;
  height: 60px;
  background-color: #00ffff;
  border: none;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  box-shadow: 1px 0px 8px 3px #00ffff98;
  font-size: 1.2rem;
  cursor: pointer;
}

::placeholder {
  padding-left: 30px;
  font-size: 1rem;
}
