/* JOHN DOE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    gap: 5vw;
}

.left-section {
    width: 60%;
}

.main-section h3 {
    font-family: 'Prata', serif;
    font-weight: 400;
    margin-bottom: 2vw;
}

.main-section h1 {
    font-family: 'Prata', serif;
    font-size: 5vw;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 1vw;
}

.full-name {
    font-weight: 800;
}

p {
    max-width: 90%;
    text-align: justify;
    margin-bottom: 2.5vw;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 8rem;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.75rem;
}

a {
    text-decoration: none;
}

.right-section {
    width: 40%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.john-doe-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%
}