/* IMPOSTAZIONI GENERALI */

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #111;
  background-image: url(../img/sfondo.png);
  background-position: center;
  background-size: 1000px;
}

header,
main,
footer {
  margin: 0 auto;
  width: 500px;
  box-shadow: 0px 5px 5px 0px #555;
  padding: 3rem 1.5rem;
}

h1 {
  margin: 3rem 0;
}

h3 {
  margin: 3rem 0;
}

p,
mark {
  margin: 2rem 0;
  line-height: 2rem;
}

ul,
ol {
  margin-left: 3rem;
  line-height: 2rem;
}

strong {
  color: #a32482;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 2.25rem;
}

mark {
  background-color: #ddd;
  border: 2px solid #777;
  border-radius: 10px;
}

/* HEADER */

header {
  background: rgb(0, 104, 136);
  background: linear-gradient(
    0deg,
    rgba(0, 104, 136, 1) 0%,
    rgba(1, 162, 202, 1) 100%
  );
  color: #fefefe;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-top: 2.5rem;
}

header img {
  width: 75%;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header li {
  padding: 0.3rem 0;
}

header li a {
  text-decoration: none;
}

header li a::before {
  content: "⇒  ";
}
header li a::after {
  content: "  ⇐";
}

header a {
  color: #fefefe;
}

/* MAIN */

main {
  margin-top: 2.5rem;
  background-color: #fefefe;
  color: #222;
}

/* ELEMENTI NEL MAIN - ARTICLE */

article {
  font-size: 24px;
}

article h1 {
  font-size: 48px;
  letter-spacing: -2px;
  font-weight: 500;
  margin-top: 0;
}

.publish-info {
  color: #aaa;
}

.content p a {
  color: #06a1cb;
  font-weight: 600;
}

iframe {
  width: 100%;
  border-radius: 2rem;
}

/* TABELLE */

table {
  border-bottom: 2px solid rgb(69, 69, 246);
  width: 100%;
}

caption {
  margin-bottom: 1rem;
  font-weight: 600;
  font-style: italic;
}

thead {
  background-color: #3366cc;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #dddddd;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
}

th {
  padding: 2rem 1rem;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid #ddd;
}

td {
  text-align: center;
  padding: 2rem 0;
  border-right: 1px solid #fff;
}

/* FORM */

.card {
  margin: 3rem 0;
  padding: 2rem;
  background-color: #ddd;
}

.card h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  font-weight: 600;
  font-size: 36px;
}

.subscribe {
  width: 100%;
  margin-inline: auto;
}

.subscribe input {
  border: 0;
  padding: 0.5rem;
  font-size: 24px;
}

/* ELEMENTI NELL' ASIDE */

aside h3 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
}

aside a {
  color: #06a1cb;
}

.card.related-article {
  margin: 0;
  margin-bottom: 1.5rem;
}

.related-article {
  border: 2px solid #777;
}

.related-article a {
  font-size: 24px;
  text-align: left;
  margin-bottom: rem;
}

.related-article p {
  margin: 0;
}

.related-article .date {
  text-align: right;
  font-size: 18px;
  margin-top: 2rem;
}

#email {
  width: 66%;
  border-bottom: 1px dashed black;
}

#submit {
  font-weight: 600;
  background-color: #3366cc;
  color: #fff;
}

.tag::before {
  content: "<i class=" fas fa-tag "></i>";
}

/* FOOTER */

footer {
  margin-top: 2.5rem;
  background: rgb(57, 68, 55);
  background: linear-gradient(
    0deg,
    rgba(57, 68, 55, 1) 0%,
    rgba(0, 85, 102, 1) 100%
  );
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin-bottom: 2.5rem;
}

footer h5 {
  margin-bottom: 1rem;
}

footer p {
  margin: 0;
}

footer a {
  font-weight: 600;
  color: #ff00fe;
}
