*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  width: 100%;
  background-color: #222f3f;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
}

a {
  text-decoration: none;
}

header .logo-container {
  height: 3.5rem;
  background-color: #222f3f;
}

header img {
  height: 100%;
  padding: 0.6rem 1.75rem;
}

header .navbar {
  padding: 0 1.75rem;
  background-color: #364759;
  color: #eee;
}

header ul li {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0.4rem 0;
  font-size: 14px;
}

header a {
  color: #eee;
  text-decoration: none;
}

main {
  padding: 1.75rem;
}

main section:nth-child(1) {
  width: 100%;
  background-color: #f56600;
  color: #eee;
  text-align: center;
  margin-bottom: 1.75rem;
}

main section:nth-child(1) p {
  padding: 0.5rem 0;
  font-size: 13px;
}

main section:nth-child(2) {
  width: 100%;
  background-image: url(../images/bg-image.png);
  background-size: 1200px;
  color: #eee;
  text-align: center;
  padding: 4rem 0;
  margin-bottom: 1.75rem;
}

main section:nth-child(2) h1 {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 1.5rem;
}

main section:nth-child(2) p {
  font-weight: bold;
}

main section:nth-child(3) {
  width: 100%;
  background-color: #ffffff;
  padding: 1% 0;
  margin-bottom: 1.75rem;
}

main section .section-header:nth-child(1) {
  width: 100%;
  margin-bottom: 1%;
}

main section .section-header h3 {
  display: inline;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  margin: 0 1% 0 1.1rem;
}

main section .section-header p {
  display: inline;
  width: fit-content;
  color: #3390a8;
  font-size: 13px;
  font-weight: 800;
}

main section:nth-child(3) .img-boxes {
  width: 100%;
  text-align: center;
}

main section:nth-child(3) .img-boxes img {
  width: 22.5%;
  height: 22rem;
  object-fit: cover;
  margin: 0 1%;
  border-radius: 1rem;
  box-shadow: 5px 8px 15px 2px rgba(0, 0, 0, 0.15);
}

main section:nth-child(4) .img-box {
  background-image: url(../images/img_9.png);
  background-size: cover;
  height: 24rem;
}

main section:nth-child(4) .section-header {
  text-align: center;
  margin: 0.25rem 0 1.75rem 0;
}

main section:nth-child(5) .img-box {
  background-image: url(../images/img_10.png);
  background-size: cover;
  height: 24rem;
}

main section:nth-child(5) .section-header {
  text-align: center;
  margin: 0.25rem 0 1.75rem 0;
}

footer {
  background-color: #222f3f;
  text-align: center;
}

footer .footer-nav .empty-space {
  height: 30%;
}

footer .footer-nav a {
  height: 40%;
  font-size: 14px;
  font-weight: 700;
  color: #eee;
}

footer .logo-container {
  height: 10rem;
  background-color: #222f3f;
}

footer .footer-nav {
  height: 3rem;
  background-color: #364759;
}

footer .logo-container .empty-space {
  height: 30%;
}

footer .logo-container img {
  height: 40%;
  padding: 0.4rem 1.75rem;
}
