*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  font-size: 1.5rem;
}

main {
  width: 100%;
  text-align: center;
  padding: 0 1rem 2rem 1rem;
}

.bingo-board-settings {
  height: 6rem;
}

button {
  border: 0;
  line-height: 1.3;
  cursor: pointer;
  background-color: #ff761b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.button-div {
  width: 20%;
  height: 5.5rem;
  display: inline-block;
  margin: 0;
}

.bingo-board-settings button {
}

.bingo-board-settings button:active {
  background-color: rgb(215, 215, 215);
  scale: 0.9;
}

#new-game-button {
  /* background-color: #f44336; */
  vertical-align: middle;
}

#extract-new-number {
  /* background-color: #4caf50; */
  vertical-align: middle;
}

#new-extracted-number {
  vertical-align: middle;
  background-image: url(./img/numeretto.png);
  background-size: contain;
  font-family: "Besley", serif;
  color: rgb(225, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
  padding: 0.8rem;
  display: inline-block;
}

.bingo-board {
  padding: 0 2rem 2rem 2rem;
  width: 45%;
  display: inline-block;
  vertical-align: middle;
}

.tabellone {
  margin-top: 2.5rem;
  padding: 1rem;
}

.bingo-board table {
  width: 100%;
  border-collapse: collapse;
}

.bingo-board h3 {
  font-size: 2rem;
  padding: 1rem 0;
  border: 3px solid #ff761b;
  border-bottom: 0;
}

.bingo-board tbody {
  border: 3px solid #ff761b;
}

.bingo-board td {
  height: 3rem;
  font-size: 1.35rem;
  font-weight: 600;
  border: 1px solid #ff761b;
}

.bingo-board tr:nth-child(3) {
  border-bottom: 3px solid #ff761b;
}

.bingo-board tr:nth-child(6) {
  border-bottom: 3px solid #ff761b;
}

.bingo-board td:nth-child(5) {
  border-right: 3px solid #ff761b;
}

.board-extracted-number {
  background-image: url(./img/numeretto.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Besley", serif;
  color: rgb(225, 0, 0);
}

.player-board {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  padding: 0 2rem 2rem;
  text-align: center;
}

.player-card-settings {
  height: 6rem;
  padding: 0.25rem 0;
}

.player-card-settings input {
  text-align: center;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin: 0 1rem;
  border: 3px solid #ff761b;
}

.player-card-settings input::placeholder {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  -moz-appearance: textfield;
}

.player-card-settings button {
  margin-top: 1rem;
}

.player-cards {
  padding-top: 2.5rem;
}

.player-card {
  padding-top: 1rem;
  width: 100%;
}

.player-card table {
  width: 100%;
  border-collapse: collapse;
}

.player-card h3 {
  font-size: 0.75rem;
  padding: 0.25rem 0;
  border: 3px solid #ff761b;
  border-bottom: 0;
}

.player-card tbody {
  border: 3px solid #ff761b;
}

.player-card td {
  height: 2rem;
  border: 1px solid #ff761b;
}
