@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.sidebar {
  width: 7%;
}

.main {
  width: 92%;
  height: 92%;
}

.topbar {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  height: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  cursor: pointer;
}

.icon ion-icon {
  font-size: 2em;
}

.icon p {
  margin: 0;
}

.icon:not(:first-of-type) {
  height: 16vh;
}

.logo {
  height: 50%;
  margin-left: 2rem;
}

.search-wrapper {
  display: flex;
  height: 50%;
  width: 30%;
}

.search-wrapper input {
  width: 100%;
  padding: 0 1em;
}

.icons-wrapper {
  display: flex;
  align-items: center;
}

.top-icon {
  font-size: 2em;
  padding: 0 0.5em;
  margin-right: 2rem;
}

.mic-icon {
  display: flex;
  align-items: center;
}

.search-btn {
  padding: 0 0.7em;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2%;
  align-content: flex-start;
  padding: 2.5% 0;
}

.video-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 29%;
}

.video-preview img {
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
}

.user {
  width: 9.5%;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.video-footer {
  width: 100%;
  margin: 0;
  padding: 0.5rem 0 0 0;
}

.video-footer h1 {
  font-size: 1.1rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-footer p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
