@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --cyan: #00ffff;
  --magenta1: #900080;
  --magenta2: #d20094;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 1200px;
  height: 900px;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  font-family: "Inter", sans-serif;
  color: #e7e7e7;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header img {
  height: 2.7rem;
  margin: 2.9rem 0 1rem 7.5rem;
}

main {
  position: relative;
  height: calc(100% - 8.5);
  padding: 0 7.5rem;
}

h1,
h3,
h5 {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 5.9rem;
  line-height: 0.75;
}

h3 {
  font-size: 3rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

.hide {
  display: none;
}

/* ! ---------- Index 🏠 */

#index-page .top h1 {
  font-weight: 400;
  margin-top: 5.5rem;
}

#index-page .center h3 {
  margin-top: 3rem;
  font-size: 2.2rem;
  color: var(--magenta2);
}

#index-page .center p {
  margin-top: 0.5rem;
  line-height: 1.15;
}

#index-page .center ul {
  font-size: 1.15rem;
  margin-top: 3rem;
  margin-left: 2rem;
  line-height: 1.7;
}

#index-page .bottom {
  margin-top: 5rem;
}

#index-page .bottom .agreement {
  display: inline-block;
  width: 72%;
  margin-top: 2.1rem;
}

#index-page .bottom .agreement input,
#index-page .bottom .agreement label {
  cursor: pointer;
}

#index-page .bottom .agreement input {
  height: 0;
  width: 0;
}

#index-page .bottom .checkbox {
  display: block;
  position: relative;
  padding-left: 1.9rem;
  font-size: 1rem;
  letter-spacing: 0.2px;
}

#index-page .bottom .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.4rem;
  width: 1.4rem;
  border: 3px solid #c9c9c9;
}

#index-page .bottom .checkbox:hover .checkmark {
  background-color: var(--magenta1);
}

#index-page .bottom .checkbox input:checked ~ .checkmark {
  background-color: var(--magenta2);
}

#index-page .bottom .checkbox input:checked ~ .checkmark:after {
  display: block;
}

#index-page .bottom .checkmark:after {
  top: -3px;
  left: 3px;
  content: "✓";
  position: absolute;
  display: none;
}

#proceed {
  display: inline-block;
  background-color: var(--cyan);
  transition: all 0.2s ease-out;
  border: 0;
}

#proceed:disabled {
  color: rgba(0, 0, 0, 0.5);
}

#proceed:enabled {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 255, 255, 0.5);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 255, 255, 0.5);
  -o-box-shadow: 0px 0px 40px 0px rgba(0, 255, 255, 0.5);
  box-shadow: 0px 0px 40px 0px rgba(0, 255, 255, 0.5);
  transition: all 0.2s ease-out;
}

#proceed:enabled:hover {
  -webkit-box-shadow: 0px 0px 40px 0px var(--cyan);
  -moz-box-shadow: 0px 0px 40px 0px var(--cyan);
  -o-box-shadow: 0px 0px 40px 0px var(--cyan);
  box-shadow: 0px 0px 40px 0px var(--cyan);
  transition: all 0.2s ease-out;
}

#proceed h5 {
  font-size: 1.65rem;
  font-weight: 800;
  padding: 1.1rem 4rem;
}

/* ! ---------- Test Page ✅ */

/* timer ⌚ */

#test-page .top .timer-container {
  position: relative;
  width: 10rem;
  height: 9rem;
  top: -0.5rem;
  right: 5.8rem;
  margin: -4rem -7rem 0 auto;
}

#donut-1 {
  filter: drop-shadow(5px 5px 20px rgb(0 0 0 / 0.75));
  transform-origin: center;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#test-page .donut-ring-1 {
  stroke: rgba(255, 255, 255, 0.5);
}

#test-page .donut-segment-1 {
  stroke: #00ffff;
  animation: donut1 16s linear;
  transform-origin: center;
  transform: rotate(-90deg);
}

@keyframes donut1 {
  0% {
    stroke-dasharray: 100 100;
  }
  100% {
    stroke-dasharray: 0 100;
  }
}

#timer {
  position: absolute;
  top: 2.5rem;
  right: 3.6rem;
  text-align: center;
  font-size: 0.6rem;
}

#timer p {
  font-size: 0.5rem;
}

#time-left {
  font-size: 2.8rem;
  line-height: 0.95;
}

/* q&a ❔❕ */

#test-page .center h3 {
  margin-top: 3.5rem;
  font-size: 3.3rem;
  font-weight: 400;
  line-height: 1;
}

#test-page .center {
  width: fit-content;
  margin-inline: auto;
}

#question-section {
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 2.5rem;
}

#question-section span {
  font-weight: 700;
}

#question-box h2 {
  font-weight: 300;
  font-size: 2rem;
}

#answer-box {
  color: white;
  margin-top: 5rem;
  text-align: center;
}

#answer-box p {
  width: 30rem;
  height: 6rem;
  display: inline-block;
  font-size: 16px;
  margin-inline: auto;
  margin: 0.25rem -1.5rem;
}

#answer-box p {
  text-align: center;
  font-size: 1.25rem;
}

#test-page input[type="radio"] {
  display: none;
  + label {
    width: 24rem;
    height: 5rem;
    padding: 1.75rem 0;
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 2.5rem;
    background-color: rgba(255, 255, 255, 0.134);
    border: 3px solid white;
    text-align: center;
  }
}

:hover + label {
  background: linear-gradient(0deg, #d20094 0%, #900080 67%);
}

#next-question {
  display: none;
}

/* counter 📍 */

#question-counter {
  width: 14rem;
  position: fixed;
  bottom: 4rem;
  left: calc(100% / 2 - 7rem);
}

#question-counter h5 {
  color: white;
  text-align: center;
  margin-top: 10rem;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

#question-counter span {
  color: rgb(198, 43, 226);
}

/* ! ---------- Results Page 💯 */

#results-page .top {
  text-align: center;
}

#results-page .top h3 {
  font-size: 3.65rem;
}

#results-page .scores-overview {
  margin: 6rem 0;
}

#results-page .top h5 {
  margin-top: -0.45rem;
  font-size: 1.9rem;
}

#results-page .center {
  text-align: center;
  margin-top: 3rem;
}

#results-page .center .score-percentage {
  display: inline-block;
  width: 29%;
  height: 24rem;
  vertical-align: middle;
}

#results-page .center .score-percentage h3:nth-of-type(1) {
  margin-top: 7rem;
  font-size: 3.8rem;
  font-weight: 400;
}

#results-page .center .score-percentage h3:nth-of-type(2) {
  font-size: 3.75rem;
  font-weight: 700;
  margin-top: -1rem;
}

#results-page .center .correct {
  text-align: left;
}

#results-page .center .wrong {
  text-align: right;
  color: rgba(255, 255, 255, 0.75);
}

#results-page .chart-wheel-container {
  margin-top: -24rem;
  position: relative;
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

#feedback {
  position: absolute;
  top: 7.7rem;
  left: 6rem;
  width: 12rem;
}

#feedback h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

#feedback p {
  margin-top: 1rem;
  font-size: 0.85rem;
}

#results-page .center .magenta {
  display: block;
  color: var(--magenta2);
}

#results-page .center .cyan {
  display: block;
  color: var(--cyan);
}

#donut-2 {
  filter: drop-shadow(5px 5px 20px rgb(0 0 0 / 0.75));
  position: absolute;
  width: 100%;
}

#results-page .donut-ring-2 {
  stroke: #00ffff;
}

#results-page .donut-segment-2 {
  stroke: #c2128d;
  animation: donut2 3s;
}

#results-page .donut-percent-2 {
  animation: donutfadelong 1s;
}

@keyframes donut2 {
  0% {
    stroke-dasharray: 100 0;
  }
  100% {
    stroke-dasharray: var(--complementValue) var(--dasharrayEnd);
  }
}

#results-page .bottom {
  display: block;
  margin-top: 4.1rem;
  text-align: center;
}

#results-rate-us {
  font-family: "Outfit", sans-serif;
  margin-inline: auto;
  padding: 1.1rem 4.8rem;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 20px 0px #00ffff33;
  -moz-box-shadow: 0px 0px 20px 0px #00ffff33;
  -o-box-shadow: 0px 0px 20px 0px #00ffff33;
  box-shadow: 0px 0px 20px 0px #00ffff33;
  transition: all 0.2s ease-in-out;
}

#results-rate-us:hover {
  -webkit-box-shadow: 0px 0px 40px 0px #00ffff80;
  -moz-box-shadow: 0px 0px 40px 0px #00ffff80;
  -o-box-shadow: 0px 0px 40px 0px #00ffff80;
  box-shadow: 0px 0px 40px 0px #00ffff80;
  transition: all 0.2s ease-in-out;
}

/* ! ---------- Feedback Page ⭐ */

#feedback-page .txt-feedback-section h2 {
  color: white;
  margin-top: 4.5rem;
  text-align: center;
  font-size: 3.65rem;
  font-family: "Outfit", sans-serif;
}

#feedback-page .txt-feedback-section p {
  color: white;
  text-align: center;
  max-width: 48rem;
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-inline: auto;
}

#feedback-page .rating-stars {
  text-align: center;
}

#feedback-page .rating-stars img {
  width: 3.2rem;
  margin-top: 2.5rem;
  opacity: 0.75;
  filter: brightness(10%);
  cursor: pointer;
  margin-right: 1rem;
  transition: all 0.5s ease-in-out;
}

#feedback-page .rating-stars img:hover {
  transition: all 0.2s ease-in-out;
}

#feedback-page .rating-stars img:last-child {
  margin-right: 0;
}

#feedback-page .rating-stars img.active {
  filter: brightness(100%);
  margin-top: 20px;
  opacity: 1;
}

#feedback-page .comment-area p {
  color: white;
  text-align: center;
  margin-top: 5.4rem;
  font-size: 1.9rem;
  font-family: "Outfit", sans-serif;
}

#feedback-page .feedback-area {
  width: 100%;
  text-align: center;
}

#feedback-text {
  margin-top: 3.7rem;
  height: 30px;
  width: 85%;
  resize: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #c2128d;
  background: transparent;
  font-family: "Outfit", sans-serif;
  color: white;
  outline: none;
}

#feedback-page .info-btn {
  text-align: center;
  margin-top: 60px;
}

#feedback-page .info-btn button {
  background-color: #00ffff;
  border: none;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  box-shadow: 1px 0px 8px 3px #00ffff98;
  font-size: 1.65rem;
  padding: 1.1rem 3.25rem;
  cursor: pointer;
}

::placeholder {
  padding-left: 30px;
  font-size: 1.3rem;
}
