:root {
  --sfondo: #111;
  --font: #999;
  --primary: #7289da;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: none !important;
}

html {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--sfondo);
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: var(--font);
  text-decoration: none;
  transition: all 0.25s ease;
  cursor: pointer;
}

a:hover {
  color: var(--primary);
  transition: all 0.25s ease;
}

li {
  list-style: none;
}

.mega-container {
  width: 100%;
  height: 100%;
  padding: 6rem 6% 2rem 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
}

header {
  width: 100%;
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5% 6%;
  border-bottom: 2px solid #333;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 100%;
  max-width: 1200px;
}

.logo {
  width: 50%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo img {
  width: 2.25rem;
  margin-right: 1rem;
}

.logo h1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.call-to-action {
  width: 50%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

button {
  width: 10%;
  height: 2rem;
  border-radius: 2rem;
  background: rgb(114, 137, 218);
  background: linear-gradient(
    145deg,
    rgba(203, 208, 224, 1) 0%,
    rgba(114, 137, 218, 1) 50%
  );
  transition: all 0.2s ease-in-out;
}

button:active {
  background: linear-gradient(
    145deg,
    rgba(114, 137, 218, 1) 50%,
    rgba(203, 208, 224, 1) 100%
  );
  transition: all 0.2s ease-in-out;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}

.profile-pic {
  margin: 1rem;
  width: 10%;
}

.hero p {
  margin-bottom: 2.5%;
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6 {
  background: -webkit-linear-gradient(45deg, #aaa, #555);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  width: 12.5%;
  margin-bottom: 3rem;
  border: 1px solid #333;
}

.portfolio-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio-top {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.portfolio-bot {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pane-1 {
  width: 50%;
}

.pane-2 {
  width: 50%;
}

.pane-3 {
  padding-right: 2.5rem;
}

.pane {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.pane-title {
  margin-bottom: 1rem;
}

.pane-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.pane-body h4 {
  margin-bottom: 0.25rem;
}

.right-pane-container {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td {
  padding: 0.25rem;
  text-align: center;
}

table {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
}

th,
td {
  border-bottom: 1px solid white;
}

caption {
  margin-bottom: 1rem;
}

footer {
  bottom: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5% 6%;
  border-top: 2px solid #333;
}

.social-container {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 400;
}

.btn {
  border-radius: 2rem;
  height: 2.25rem;
  width: 2.25rem;
}

.social-icon {
  padding: 0.25rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 2rem;
}

.social-name {
  color: var(--sfondo);
  margin-right: 0.75rem;
}

.slash {
  font-size: 1.5rem;
  margin: 0 2.5%;
}
